In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r'C:\Users\Douglas Guzzo\Desktop\pagamento_media_motoristas\pagamento_media_motoristas\abastecimentos_07-2024.xlsx')

In [4]:
df.drop(columns='Unnamed: 0', inplace=True)

In [5]:
novos_nomes = df.iloc[0].tolist()
df.columns = novos_nomes

In [7]:
df.drop(labels=0, inplace=True)

In [9]:
df.columns = df.columns.str.replace(' ', '_')

In [10]:
df.head()

,Data_Abastecimento,Placa,Motorista,Quantidade,Total_Horas/Km_Rodados,Média,Hodômetro,Tanque_Cheio,Total_Líquido
1,2024-07-01 17:02:08,MSM1A04,EVALDO RIBEIRO BARRETO,452.04,411,2.35875,328133,Sim,2484.97237
2,2024-07-03 09:47:00,MSM1A04,EVALDO RIBEIRO BARRETO,200,1126,0,329259,Não,1318
3,2024-07-04 11:33:04,MSM1A04,EVALDO RIBEIRO BARRETO,438,410,2.40752,329669,Sim,2409.01314
4,2024-07-06 09:34:00,MSM1A04,EVALDO RIBEIRO BARRETO,200.04,1126,0,330795,Não,1318.2636
5,2024-07-09 10:04:19,MSM1A04,EVALDO RIBEIRO BARRETO,377.41,411,2.6617,331206,Sim,2078.98563