In [96]:
import pandas as pd

In [97]:
#IMPORTAR TABELA EXCEL

df = pd.read_excel(r'C:\Users\Douglas Guzzo\Desktop\medias\abastecimentos_07-2024.xlsx')

In [98]:
#EXCLUIR COLUNA 0

df.drop(columns='Unnamed: 0', inplace=True)

In [99]:
#RENOMEAR COLUNAS DE ACORDO COM A LINHA 0

novos_nomes = df.iloc[0].tolist()
df.columns = novos_nomes

In [100]:
#EXCLUIR LINHA 0

df.drop(labels=0, inplace=True)

In [101]:
#SUBSTITUIR ESPAÇOS EM BRANCO DOS TITULOS DAS COLUNAS

df.columns = df.columns.str.replace(' ', '_')

In [102]:
#CONVERTER VALORES DAS COLUNAS EM DATA/HORA

df['Data_Abastecimento'] = pd.to_datetime(df['Data_Abastecimento'])

In [103]:
#CRIAR COLUNAS SEPARADAS PARA DATA/HORA

df['Data'] = df['Data_Abastecimento'].dt.date
df['Hora'] = df['Data_Abastecimento'].dt.time

In [104]:
#EXCLUIR COLUNA DATA_ABASTECIMENTO

df.drop(columns='Data_Abastecimento', inplace=True)

In [105]:
#REORDENAR AS COLUNAS

col9 = df.pop('Data')
df.insert(0, 'Data', col9) 

col10 = df.pop('Hora')
df.insert(1, 'Hora', col10)

In [106]:
df.head()

,Data,Hora,Placa,Motorista,Quantidade,Total_Horas/Km_Rodados,Média,Hodômetro,Tanque_Cheio,Total_Líquido
1,2024-07-01,17:02:08,MSM1A04,EVALDO RIBEIRO BARRETO,452.04,411,2.35875,328133,Sim,2484.97237
2,2024-07-03,09:47:00,MSM1A04,EVALDO RIBEIRO BARRETO,200,1126,0,329259,Não,1318
3,2024-07-04,11:33:04,MSM1A04,EVALDO RIBEIRO BARRETO,438,410,2.40752,329669,Sim,2409.01314
4,2024-07-06,09:34:00,MSM1A04,EVALDO RIBEIRO BARRETO,200.04,1126,0,330795,Não,1318.2636
5,2024-07-09,10:04:19,MSM1A04,EVALDO RIBEIRO BARRETO,377.41,411,2.6617,331206,Sim,2078.98563

In [107]:
#FILTRO PARA SABER QUAIS LINHAS ESTÃO COM OS VALORES DAS MÉDIAS FORA DO PADRÃO

filtro = df.query('Média >= 3.15')
print(filtro)

           Data      Hora    Placa                      Motorista Quantidade  \
12   2024-07-23  07:31:57  MSM1A04         EVALDO RIBEIRO BARRETO      13.73
14   2024-07-29  11:05:59  MSM1A04         EVALDO RIBEIRO BARRETO     379.22
55   2024-07-08  16:47:55  MQX7732  WELINTON DOS SANTOS CONCEIÇÃO      328.1
60   2024-07-25  09:42:00  RBD9E89          JOARES ALVES FERREIRA        100
66   2024-07-22  10:35:56  MQX7732  WELINTON DOS SANTOS CONCEIÇÃO     346.25
83   2024-07-05  14:33:20  MQT6B96     JOÃO CARLOS CAMPOS PEREIRA      67.66
128  2024-07-29  13:42:51  PPP3275            LUCIMAR JOSE ZANETI     554.21

    Total_Horas/Km_Rodados     Média Hodômetro Tanque_Cheio Total_Líquido
12                    1275  92.86235    337115          Sim       75.8047
14                    3078   8.11666    340193          Sim    2093.71154
55                    1288   3.92563    579940          Sim    1804.55984
60                    1072     10.72    581789          Sim           659
66                    1289   3.72274    585356          Sim    1911.68088
83                    1581  23.36683    697316          Sim     371.58804
128                   3049   5.50152   1104617          Sim    3062.07121