In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'C:\Users\Douglas Guzzo\Desktop\medias\abastecimentos_07-2024.xlsx')

In [3]:
df.drop(columns='Unnamed: 0', inplace=True)

In [4]:
novos_nomes = df.iloc[0].tolist()
df.columns = novos_nomes

In [5]:
df.drop(labels=0, inplace=True)

In [6]:
df.columns = df.columns.str.replace(' ', '_')

In [7]:
df.head(15)

,Data_Abastecimento,Placa,Motorista,Quantidade,Total_Horas/Km_Rodados,Média,Hodômetro,Tanque_Cheio,Total_Líquido
1,2024-07-01 17:02:08,MSM1A04,EVALDO RIBEIRO BARRETO,452.04,411,2.35875,328133,Sim,2484.97237
2,2024-07-03 09:47:00,MSM1A04,EVALDO RIBEIRO BARRETO,200,1126,0,329259,Não,1318
3,2024-07-04 11:33:04,MSM1A04,EVALDO RIBEIRO BARRETO,438,410,2.40752,329669,Sim,2409.01314
4,2024-07-06 09:34:00,MSM1A04,EVALDO RIBEIRO BARRETO,200.04,1126,0,330795,Não,1318.2636
5,2024-07-09 10:04:19,MSM1A04,EVALDO RIBEIRO BARRETO,377.41,411,2.6617,331206,Sim,2078.98563
6,2024-07-11 09:49:00,MSM1A04,EVALDO RIBEIRO BARRETO,200.02,1138,0,332344,Não,1318.1318
7,2024-07-12 11:23:24,MSM1A04,EVALDO RIBEIRO BARRETO,377.92,415,2.68713,332759,Sim,2082.62084
8,2024-07-14 09:18:00,MSM1A04,EVALDO RIBEIRO BARRETO,200,1125,0,333884,Não,1318
9,2024-07-15 12:31:47,MSM1A04,EVALDO RIBEIRO BARRETO,411.16,415,2.5198,334299,Sim,2267.27838
10,2024-07-17 10:40:00,MSM1A04,EVALDO RIBEIRO BARRETO,200,1125,0,335424,Não,1318
11,2024-07-18 09:11:05,MSM1A04,EVALDO RIBEIRO BARRETO,366.1,416,2.72213,335840,Sim,2018.95364
12,2024-07-23 07:31:57,MSM1A04,EVALDO RIBEIRO BARRETO,13.73,1275,92.86235,337115,Sim,75.8047
13,2024-07-23 07:45:59,MSM1A04,EVALDO RIBEIRO BARRETO,237.64,0,0,337115,Sim,1312.33125
14,2024-07-29 11:05:59,MSM1A04,EVALDO RIBEIRO BARRETO,379.22,3078,8.11666,340193,Sim,2093.71154
15,2024-07-02 11:01:42,MSC8H06,DEORLEM DA ROCHA SOARES,430.63,419,2.4642,385962,Sim,2365.01565